body {
	background-color: #000000;
	background-image: url("../images/background.png");
	background-position:center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;
	color: #000000;
	font-family: Verdana, Sans-Serif, Lucida Sans Unicode, Lucida Console;
	font-size: 14px; /* Font size par defaut */
	margin: 0px 0px 0px 0px; /*top right down left*/
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: #4E6E8E;
}

a:hover { 
	color: #80FF00;
	text-decoration: none; 
	text-shadow: 0px 0px 2px #80FF00;
}

img {
	border: 0px solid;
}

h1 {
	color: #66DD22;
}
h2 {
	color: #3388ee;
}
h3 {
	font-family: Consolas, Helveltica, Lucida Console;
	font-size: 18px;
	margin: 5px 0px 5px 0px; /*top right down left*/
}

hr {
	border: 0; 
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

div.topbar{
	/*background-image: url("../images/topbartile.png");*/
	background-color: #212121;
	color: #FFFFFF;
	padding: 2px 0;
	text-align: center;
	margin: 0px 0px 0px 0px; /*top right down left*/
}

div.topbarinside{
	border-left: solid 1px #656565;
	border-right: solid 1px #656565;
	color: #99ff00;
	width: 936px; /* To adjust depending the layout */
	margin: 0px auto 0px auto; /*top right down left*/
	padding: 6px;
}

iframe.menu {
	border: 0px solid #000000;
	height: 36px;
	width: 100%;
	margin: 0px auto 0px auto; /*top right down left*/
}

table {
	border-collapse: collapse;
	width: 100%;
}
table, th, td {
	border-color: #000000;
} 

th {
	background-color: #212121;
	border-bottom: 2px solid #66DD22;
	border-top: 2px solid #66DD22;
	color: #66DD22;
    height: 40px;
} 

#wrapper {
	background-image: url("../images/magiccirclesbg.png"), url("../images/backflow.png");
	background-position: top left, top right;
	background-repeat: no-repeat, no-repeat;
	/*background-color: #F8FaFc;*/
	background-color: rgba(248, 250, 252, 0.8);
	width: 940px;
	margin: 30px auto 50px auto; /*top right down left*/
	padding: 10px 5px 10px 5px; /*top right down left*/
}

#content {
	border: 0px solid #000000;
	display: block;
	/*text-align: justify;*/
	line-height: 180%;
	word-wrap:break-word; /* Long word won't go out of the div box*/
	margin: 0px 0px 10px 0px; /*top right down left*/
	padding: 0px 10px 10px 10px; /*top right down left*/
}


#left {
	float: left;
	text-align: left;
}
#right {
	float: right;
	overflow: hidden;
	text-align: left;
}

#bottom {
	clear:both;
	text-align: justify;
    text-justify: inter-word;
}

.hideDescription {
	border-radius: 0px 20px;
	border-left: 3px solid #9b9d9f;
	font-family: Lucida Console, Consolas, Verdana, Sans-Serif;
	font-size: 13px;
	display:none;
	padding: 4px 8px 4px 8px; /*top right down left*/
	margin: 0px 4px 0px 4px; /*top right down left*/
	text-align: justify;
    text-justify: inter-word; /*Works for IE*/
}

#listdesc > a {
	font-family: Consolas, Lucida Console, Arial;
	font-size: 16px;
	font-weight: bold;
	cursor:pointer;
}

#key {
	background-color: #CCFF88;
	color: #2a2d2f;
	font-family: Arial;
	font-size: 10px;
	padding: 0px 2px 0px 2px; /*top right down left*/
	width: 100%;
}

#comment {
	background-color: rgba(255, 250, 252, 0.8);
	border-left: solid 10px #66DD22;
	width: 920px;
	margin: 20px auto 20px auto; /*top right down left*/
	padding: 5px 10px 20px 10px; /*top right down left*/
}
#comment date {
	color: #212121;
	font-family: Consolas, Helveltica, Lucida Console;
	font-size: 12px;
	text-decoration: underline;
}
#comment h2 {
	color: #3388ee;
	font-family: Georgia, Consolas, Helveltica, Lucida Console;
	font-size: 24px;
	margin: 20px 0px 20px 0px; /*top right down left*/
}
#comment h3 {
	color: #223366;
	font-family: Palatino Linotype, Consolas, Helveltica, Lucida Console;
	font-size: 22px;
	margin: 10px 0px 10px 0px; /*top right down left*/
}

footer {	
	background: #212121;
	color: #ffffff;
	font-size: 11px;
	margin: 50px auto 0px auto; /*top right down left*/
	padding: 4px 0;
	text-align: center;
}


/* CSS for the Nav Bar */

nav {
	background:#212121;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

nav a:link, nav a:visited, nav a:active {
	text-decoration: none;
	color: #F4F4F4;
}

nav a:hover {
	background:#686868;
	border-bottom: 4px solid #80ff00;
	padding-bottom: 6px;
	color:#80FF00;
	text-shadow: 0 0 4px #80ff00;
	/*transition: .1s;*/
}

nav ul {
	list-style: none; /*Remove Dot*/
	margin:0;
	padding:0;
}

nav ul li {
	display: inline-block; /*Make bar horizontal*/
	/*margin-right: -4px; /*Remove space of inline-block when nav in html form*/
	position: relative;
}

nav ul li a {
	border-right: 1px solid #000000; /*Separator Size*/
	content: "";
	display: block;
	padding: 10px 20px 10px 20px; /*(top right down left) "border and height" of button*/
	text-align: center;
	text-decoration: none;
	
}
nav ul li a:before {
	border-right: 1px solid #000000; /*Separator Size and Color*/
    content: ""; /*To remove diagonal intersect -_-*/
    position:absolute;
	right: 0;
    top: 0px; /* Should equal top border of nav ul li a */
    bottom: 0px; /* Should equal bottom border of nav ul li a */
}