.main-background-img {
    background-color: #222;
    background-image: url("../img/background.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}