.active {
    background-color: #222 !important;
}

.nav-item > .active {
    color: #bbffbb !important;
}

.random-content {
    background-color: #222;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white !important;
  background-color: #343a40;
  border: 1px solid #444;
  border-radius: 0.25rem;
  padding-right: 2rem;
}