.active {
    background-color: #222 !important;
}

.nav-item > .active {
    color: #bbffbb !important;
}

.random-content {
    background-color: #222;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}