body {
    background-color: #000;
    background-image: url("../img/background.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    color: #FFF;
    font-family: Verdana, Sans-Serif;
    /* Font size defaut */
    font-size: 1.0em;
    margin: 0;
}

::-moz-selection {
    color: #D06;
    background: rgba(255, 255, 255, 0.5);
}

::selection {
    color: #D06;
    background: rgba(255, 255, 255, 0.5);
}

a:link, a:visited, a:active {
    color: #0E5E9E;
    text-decoration: none;
}

a:hover {
    color: #8F0;
    text-decoration: none;
    text-shadow: 0px 0px 2px #8F0;
}

img {
    border: 0;
    max-width: 100%;
    max-height: 100%;
}

div h1, div h2, div h3 {
    font-family: 'Ubuntu', Tahoma, Helvetica, Arial;
}

div h1 {
    color: #66DD22;
    font-size: 2.4em;
    letter-spacing: 4px;
}

div h2 {
    color: #3388ee;
    font-size: 2.0em;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.logo {
    padding: 50px 0 50px 0;
    text-align: center;
}

.background-deco {
    /*background-image: url("../img/magiccirclesbg.png"), url("../img/backflow.png");
    background-position: top left, top right;
    background-repeat: no-repeat, no-repeat;*/
    background-image: url("../img/backflow.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.container {
    /*position: relative;*/
    width: 100% !important;
    max-width: 960px !important;
    margin: 0 auto !important;
    /*box-sizing: border-box;*/
}

.wrapper {
    background-color: rgba(248, 250, 252, 0.85);
    color: #000;
    font-family: 'Open Sans', Verdana;
    /*top down, right left*/
    margin: 30px auto !important;
    padding: 10px !important;
}

.checkcont {
    border: 0px solid #f00;
}

.hideContent {
    border-radius: 0px 20px;
    border-left: 3px solid #abadaf;
    font-family: Consolas, Verdana, Sans-Serif;
    font-size: 0.9em;
    display: none;
    /*top down, right left*/
    padding: 4px 8px;
    /*top down, right left*/
    margin: 0px 4px;
    text-align: justify;
    /*Works for IE*/
    text-justify: inter-word;
}

#listdesc>a {
    font-family: Consolas, "Lucida Console", Arial;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#randomMessages {
    color: #FF0;
}

.comment {
    background-color: rgba(248, 250, 252, 0.85);
    border-left: solid 10px #6D2;
    color: #000;
    font-family: 'Open Sans', Verdana, Sans-Serif, Arial;
    font-size: 1.0em;
    /*top down, right left*/
    margin: 20px auto !important;
    /*top right down left*/
    padding: 5px 20px 20px 10px !important;
    text-align: justify;
    /*Works for IE*/
    text-justify: inter-word;
}

.comment date {
    color: #212121;
    font-family: Consolas, Helvetica, "Lucida Console";
    font-size: 0.8em;
    text-decoration: underline;
    padding: 4px 0;
}

.comment h2 {
    color: #38E;
    font-family: Georgia, Consolas, Helvetica, "Lucida Console";
    font-size: 1.8em;
    letter-spacing: 2px;
    /*top down, right left*/
    margin: 15px 0px;
    text-align: left;
}

.comment h3 {
    color: #557;
    font-family: "Palatino Linotype", Consolas, Helvetica, "Lucida Console";
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1px;
    /*top down, right left*/
    margin: 10px 0px;
    text-align: left;
}

.note {
    background-color: #FAFAFA !important;
    color: #F00;
    font-size: 10px;
    font-style: italic;
}

.section-page {
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,20,128,0.3));
    color: #FFF;
    margin: 2px;
}

#adsfooter {
    margin-top: 20px;
    text-align: center;
}

#donatebutton, #donatebutton input {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#footer {
    background: #212121;
    color: #fff;
    font-family: 'Ubuntu', Verdana, Sans-Serif, Arial;
    font-size: 0.8em;
    /*top right down left*/
    margin: 50px auto 0px auto;
    padding: 14px 5px;
    text-align: center;
}

/* Custom CSS for Bulma Menu Bar */
.navbar, .navbar-dropdown, .navbar-start, .navbar-end {
    background-color: #212121 !important;
}

.navbar .navbar-item,
.navbar .navbar-link {
    color: #FFF;
}

.navbar .navbar-start a.navbar-item:hover,
.navbar .navbar-item a.navbar-link:hover,
.navbar .navbar-item.has-dropdown:hover .navbar-link,
.navbar .navbar-dropdown a.navbar-item:hover {
    background-color: #424242;
    color: #88FF00;
    border-bottom: 4px solid #88FF00;
    padding-bottom: 4px;
    transition: 0.2s;
}

/* Dropdown caret color */
.navbar .navbar-start .navbar-link::after, .navbar .navbar-end .navbar-link::after {
    border-color: #FFF;
}

.navbar-divider {
    background-color: #212121 !important;
    height: 1px !important;
}

/* CSS for Bulma Image Modal */
.bulma-img-modal-center {
    border: 0px solid #0F0;
    text-align: center;
}
