body {
    background-color: #000;
    color: #FFF;
    width: 100vw;
    overflow-x: hidden;
}

img {
    border: 0;
    max-width: 100%;
    max-height: 100%;
}

.background-img {
    background-color: #222;
    background-image: url("../img/background.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.custom-container-width {
    max-width: 70em;
}

.navbar-nav li a:hover {
    background-color: #333;
}

.navbar-custom-style {
    background-color: #111 !important;
}

.setOpacity {
    opacity: 0.9;
    z-index: 1;
}

.titlebarBackground {
    background-color: #222;
}

.containerBackground {
    background-color: #333;
}

.miscBackground {
    background-color: #111;
}

.toBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Test CSS classes to debug */
.testbg {
    background-color: #2347A9;
    overflow: hidden;
    position: relative;
}

.testbg2 {
    background-color: #ddffbb;
}

.testbg3 {
    background-color: #777;
}

.testborder {
    border: 1px solid #f00;
}

.testopacity {
    opacity: 0.5;
}