body {
    background-color: #000;
    color: #FFF;
}

img {
    border: 0;
    max-width: 100%;
    max-height: 100%;
}

.custom-container-width {
    max-width: 62em;
}

.navbar-nav li a:hover, .navbar-right-item:hover {
    background-color: #333;
}

.navbar-right-item {
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 6px;
    padding-right: 6px;
}

.navbar-custom-style {
    background-color: #111 !important;
}

.setOpacity {
    opacity: 0.9;
    z-index: 1;
}

.titlebarBackground {
    background-color: #222;
}

.containerBackground {
    background-color: #333;
}

.miscBackground {
    background-color: #111;
}

.toBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Test CSS classes to debug */
.testbg {
    background-color: #2347A9;
    overflow: hidden;
    position: relative;
}

.testbg2 {
    background-color: #ddffbb;
}

.testbg3 {
    background-color: #777;
}

.testborder {
    border: 1px solid #f00;
}

.testopacity {
    opacity: 0.5;
}