html, body {
    background-color: #000;
    color: #FFF;
}

a {
    color: #00d4ff;
}

a:hover {
    color: #67a6ff;
}

#suggestions {
    position: absolute;
    z-index: 1000;
    width: 100%;
}

#suggestions strong {
    color: #00d4ff;
    font-weight: bold;
}

/* Hovering when moving with UP and DOWN arrow keys */
#suggestions .active {
    background-color: #454545 !important;
    border: 0px solid #0f0;
    margin: 0px;
    color: white;
}

#clear-btn {
    border-left: none;
    padding-left: 16px;
    padding-right: 16px;
}

#clear-btn:hover {
    background-color: #454545
}

.breadcrumb {
    --bs-breadcrumb-divider: '»';
}

.breadcrumb-item+.breadcrumb-item::before {
    color: red;
}

/* Hovering with cursor */
.suggestion-item:hover {
    background-color: #454545 !important;
    cursor: pointer;
}

.custom-suggestion-list {
    border: 0px solid #f00;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.custom-card-charname {
    border-bottom: 2px solid #777;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.custom-top-char-row {
    border-bottom: 1px solid #555;
    padding-top: 5px;
    padding-bottom: 15px;
}

.custom-top-char-row img {
    flex-shrink: 0; /* Prevent image from shrinking */
}

.custom-top-char-name {
    font-size: 1rem;
}

.va-modal-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.testborder {
    border: 1px solid #f00;
}
