/* essential terminal styles */
.term {
	font-family: Consolas, courier, fixed,sans-serif;
	font-size: 12px;
	color: #66DD22;
	background: #000000;
}
.termReverse {
	color: #111111;
	background: #33d011;
}

.termpos{
	border: 0px solid #0f0;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	line-height: 86%;
	position: absolute;
	margin-left:50%; /*Position of the term*/
}

/* the html links */
a.termopen, a.termopen:link, a.termopen:visited {
	font-family: courier,fixed,sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: #22CC00;
	padding: 10px 1px 10px 1px;
}
a.termopen:hover {
	text-decoration: none;
	color: #222222;
	background: #77dd11;
}

td {
	padding: 1px;
	border-bottom: 0px;
}

table {
  	margin-bottom: 0px;
}